<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arrow_check.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,77},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>arrow_direction.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,171},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{24,32}</string>
		</dict>
		<key>arrow_tree.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,148},{32,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,64}}</string>
			<key>sourceSize</key>
			<string>{32,64}</string>
		</dict>
		<key>arrow_triangle.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,148},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>cancel.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,53},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>circle_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,45},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>circle_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,6},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>circle_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,6},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>circle_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,84},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,8}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>circle_gradient.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,6},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>circle_stroke.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,6},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>deals_arrow_call.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,47},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>deals_arrow_call_closed.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,135},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>deals_arrow_put.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,68},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>deals_arrow_put_closed.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,6},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>deals_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,6},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>deals_icon_android.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,45},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>deals_icon_desktop.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,107},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>deals_icon_ios.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,86},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>flag.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,123},{38,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,41}}</string>
			<key>sourceSize</key>
			<string>{38,41}</string>
		</dict>
		<key>ic_alert.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,171},{31,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,40}}</string>
			<key>sourceSize</key>
			<string>{31,40}</string>
		</dict>
		<key>ic_anal.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,6},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>ic_candles.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,211},{42,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,32}}</string>
			<key>sourceSize</key>
			<string>{42,32}</string>
		</dict>
		<key>ic_chart_gradient.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,55},{38,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,40}}</string>
			<key>sourceSize</key>
			<string>{38,40}</string>
		</dict>
		<key>ic_jacandle.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,211},{42,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,32}}</string>
			<key>sourceSize</key>
			<string>{42,32}</string>
		</dict>
		<key>ic_linechart.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,6},{38,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,40}}</string>
			<key>sourceSize</key>
			<string>{38,40}</string>
		</dict>
		<key>ic_loader.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,219},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>icon_itm.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,123},{28,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,16}}</string>
			<key>sourceSize</key>
			<string>{28,16}</string>
		</dict>
		<key>info_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,187},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>instrument_control_rotate.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,66},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>line_joint_texture.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,125},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>line_texture.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,45},{1,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,10}}</string>
			<key>sourceSize</key>
			<string>{1,10}</string>
		</dict>
		<key>locker.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,219},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>pm_icon_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,187},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>pm_icon_downward.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,148},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>pm_icon_upward.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,187},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>scissors.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,68},{22,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,20}}</string>
			<key>sourceSize</key>
			<string>{22,20}</string>
		</dict>
		<key>settings.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,102},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>small_deal_smoke@2x.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,77},{128,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>sourceSize</key>
			<string>{128,64}</string>
		</dict>
		<key>timer.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,6},{40,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,53}}</string>
			<key>sourceSize</key>
			<string>{40,53}</string>
		</dict>
		<key>traderoom_circle_gap.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,148},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>traders_mood_indicator.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,226},{32,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,11}}</string>
			<key>sourceSize</key>
			<string>{32,11}</string>
		</dict>
		<key>trash_body.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,96},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>trash_cap.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,45},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>user_logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,148},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>white_rect.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,125},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>/Users/dmitry.apehtin/Desktop/Projects/iqoption-gitlab/iqoptiongame/glcharts/GLChart/gl_resources/textures/atlas.png</string>
		<key>size</key>
		<string>{512,256}</string>
		<key>textureFileName</key>
		<string>/Users/dmitry.apehtin/Desktop/Projects/iqoption-gitlab/iqoptiongame/glcharts/GLChart/gl_resources/textures/atlas.png</string>
	</dict>
</dict>
</plist>
